VITE_OIDC_ISSUER=http://localhost:8080/realms/mytelco-white-label
VITE_OIDC_CLIENT_ID=admin-portal
VITE_OIDC_REDIRECT_URI=http://localhost:5174/callback
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:5174
VITE_OIDC_SCOPES=openid roles
VITE_ADMIN_BFF_BASE_URL=http://localhost:8082
VITE_DEV_MODE=false
VITE_USE_MOCK_DATA=false
