VITE_OIDC_ISSUER=http://localhost:8080/realms/mytelco-white-label
VITE_OIDC_CLIENT_ID=web-portal
VITE_OIDC_REDIRECT_URI=http://localhost:5173/callback
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:5173
VITE_OIDC_SCOPES=openid roles
VITE_CUSTOMER_BFF_BASE_URL=http://localhost:8081
VITE_DEV_MODE=false
VITE_USE_MOCK_DATA=false
