OIDC_ISSUER=http://localhost:8080/realms/mytelco-white-label
OIDC_CLIENT_ID=mobile-app
OIDC_REDIRECT_URI=mytelco://oauth/callback
OIDC_SCOPES=openid profile email roles offline_access
CUSTOMER_BFF_BASE_URL=http://localhost:8081
